body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    max-width: 100%;
    height: auto;
}

.section {
    margin: 0;
    padding: 0.5rem;
}

* {
    padding: 0;
    margin: 0;
}

/* 
    Header Styles 
*/

header {
    background-color: darkcyan;
    max-width: 100%;
    height: auto;
}

.First-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
}

/* Box1 */

header img {
    margin-bottom: 0.3rem;
    margin-top: 0.6rem;
    padding: 0.5rem;
}

#logo {
    width: 1rem;
    height: 1rem;
    border: 0.01rem solid silver;
    border-radius: 5px;
}

#logo:hover {
    border: black solid 0.1rem;
}

header input[type="text"] {
    width: 50vw;
    height: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0.01rem 0.01rem 0.2rem white;
}

header input[type="text"]:focus {
    border: 0.01rem solid silver;
}

/* Box2 */

#box2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

/* Box3 */

#box3 {
    float: right;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    display: flex;
    justify-content: stretch;
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.logo:hover {
    cursor: pointer;
    background-color: silver;
}

/* Navigation Styles */

#nav-bar {
    background-color: darkcyan;
    border: 1px solid silver;
    border-top: 0.5rem solid gold;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

#box {
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border: silver solid 1px;
    border-radius: 0.2rem;
    text-align: center;
    display: block;
}

.nav-link:hover {
    cursor: pointer;
    background-color: silver;
    text-shadow: -0.5px 0 0 black, 0 -0.5px 0 black, 0 0 1px black;
}

/*
    Main styles 
*/

main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

/*About Styles*/

#s1 {
    margin: 0;
    padding: 0;
}

#about {
    margin: 2rem;
    padding: 0.5rem;
    margin: 0 auto 0 auto;
    max-width: 100%;
    height: auto;
    padding: 3rem;
    border: solid silver 0.02rem;
    box-shadow: 0.02rem 0.02rem 0.5rem silver;
}

h2 {
    color: gold;
    margin: 1rem;
    padding: 0.5rem;
    display: block;
}

#img-div {
    float: left;
    display: block;
    margin-right: 5%;
}

#about img {
    border: 0.3rem solid silver;
    display: block;
    float: left;
    border-radius: 0.6rem;
}

p {
    margin: 1rem;
    text-align: left;
}

#video-div {
    width: auto;
    height: auto;
    margin: 5rem;
}

#video {
    display: block;
    margin: 0 auto;
}

#p {
    text-align: center;
}

/* 
  Products Section 
*/

#products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.flex {
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: silver solid 0.01rem;
    height: 15rem;
}

.product-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 1rem;
    padding: 0;
}

button {
    padding: 0.5rem;
    display: block;
    margin: 0.5rem;
}

#btns {
    display: flex;
    flex-direction: column;
}

.flex img {
    border: silver solid 1px;
}

/* Features Syles */

#features {
    margin: 2rem auto;
    border: 0.01rem solid silver;
    padding: 1.5rem;
    max-width: 100%;
    height: auto;
}

#features h2 {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

#features li {
    line-height: 30px;
    margin: 1rem;
}

#li-link {
    color: #00bfff;
}

#li-link:visited {
    color: #1e19ff;
}

/* Footer Syles */

footer {
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

#SignIn {
    line-height: normal;
    padding: 2rem;
    display: block;
    margin: 3rem 2rem;
    border: 0.01rem black solid;
    background: none;
    border-left: gold solid 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

#SignIn h2 {
    color: black;
}

#form {
    padding: 1rem;
}

#email {
    width: 25vw;
    height: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

#submit {
    width: auto;
    height: 2rem;
    background-color: gold;
    font-weight: 600;
    border-radius: 10%;
    display: inline-block;
}

#submit:hover {
    cursor: pointer;
    border: solid black 0.01rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

.button {
    padding: 0.5rem;
    display: inline-block;
    margin: 0.5rem;
}

.button:hover {
    cursor: pointer;
    background-color: silver;
}

button:hover {
    cursor: pointer;
    background-color: silver;
}

footer a img {
    width: 3rem;
    height: 3rem;
}

footer a img:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    ;
}

/* Media Queies */

@media only screen and (max-width: 930px) {
    footer {
        flex-direction: column;
        justify-content: space-around;
    }
    body {
        padding: 0;
        margin: 0;
    }
    #about {
        margin: 0;
        padding: 0;
    }
    #img-div {
        margin: 5%;
    }
    .First-section {
        justify-content: flex-start;
        flex-direction: column;
    }
    #box {
        margin: 0.9rem;
        padding: 0;
        text-align: center;
    }
    #SignIn {
        margin: 0.9rem;
        margin-bottom: 1rem;
        padding: 0;
        text-align: center;
        display: block;
        font-size: 18px;
    }
    .flex {
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: auto;
    }
    #products {
        flex-direction: column;
    }
    #video-div {
        width: auto;
        height: auto;
        margin: 2rem;
    }
    #video {
        display: block;
        margin: 0 auto;
        width: auto;
        height: auto;
    }
}
